header {
	background-color: #ffffff;
	border-style: solid;
	border-color: #cccccc;
	border-width: 2px;
	position: relative;
	bottom: 10px;
	height: 83px;
}

a {
	color: #cccccc;
	text-decoration: none;
}

.header {
	background-color: #4aaaa5;
	color: white;
	padding: 36px;
	width: 255px;
	text-align: center;
	position: relative;
	left: 150px;
	bottom: 40px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-style: none;
	border-color: #cccccc;
	font-size: 28px;
}

body {
	background-image: url(https://github.com/enriqueg5/Basic-Portfolio/blob/master/assets/images/sayagata-400px.png?raw=true);
}

.portals {
	float: right;
	position: relative;
	bottom: 100px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
}

#index {
	position: relative;
	right: 300px;
}

#portfolio {
	position: relative;
	right: 270px;
}

#contact {
	position: relative;
	right: 240px;
}

.main {
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 750px;
	position: relative;
	top: 25px;
	left: 100px;
}

.about {
	color: #4aaaa5;
	left: 12px;
	position: relative;
}

#paragraphs {
	margin: 30px;
	text-align: justify;
	color: #585858;
}

#profile {
	width: 300px;
	float: left;
	margin: 12px;
}

.sidebar {
	float: right;
	position: relative;
	bottom: 580px;
	right: 190px;
	width: 320px;
	height: 200px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
	border-color: #dddddd;
	border-style: solid;
	text-align: center;
	background-color: #ffffff;
}

.sidebar2 {
	float: right;
	position: relative;
	bottom: 551px;
	right: 190px;
	width: 320px;
	height: 200px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
	border-color: #dddddd;
	border-style: solid;
	text-align: center;
	background-color: #ffffff;
}

#github {
	width: 80px;
}

#stack {
	width: 80px;
}

.footer {
	background-color: #666666;
	padding: 30px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	position: relative;
	top: 80px;

}

#submit_button {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 10px;
	width: 100px;
	margin: 12px;
}

.row {
	margin: 12px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 670px;
}

#line_connect {
	width: 250px;
}

#im1 {
	width: 250px;
	height: 200px;
	left: 40px;
	position: relative;
}

#im2 {
	width: 250px;
	height: 200px;
	position: relative;
	left: 350px;
	bottom: 307px;
}

#im3 {
	width: 250px;
	height: 200px;
	position: relative;
	bottom: 360px;
	left: 40px;
}

#im4 {
	width: 250px;
	height: 200px;
	position: relative;
	left: 350px;
	bottom: 670px;
}

#im5 {
	width: 250px;
	height: 200px;
	left: 40px;
	position: relative;
	bottom: 710px;
}

h3 { 
   z-index: 1000;
   position: relative;
   width: 150px; 
   border-left-width: 57px;
   border-color: #4aaaa5;
   border-style: solid;
   background-color: #4aaaa5;
   padding: 20px;
   color: #ffffff;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#plc1 {
	bottom: 100px;
	left: 40px;
}

#plc2 {
	bottom: 408px;
	left: 350px;
}

#plc3 {
	bottom: 462px;
	left: 40px;
}

#plc4 {
	bottom: 770px;
	left: 350px;
	height: 20px;
}

#plc5 {
	bottom: 808px;
	left: 40px;
	height: 20px;
}

.sidebar3{
	float: right;
	position: relative;
	bottom: 1620px;
	right: 190px;
	width: 320px;
	height: 200px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
	border-color: #dddddd;
	border-style: solid;
	text-align: center;
	background-color: #ffffff;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
	header {
		position: static;
	}
}

